body {
  font-family: "Montserrat";
  font-weight: 400;
  background: linear-gradient(60deg, #daa520 0%, #b73239 100%) no-repeat;
  color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
  overflow: hidden;
}

.bpm {
  font-size: 1.5em;
  font-weight: inherit;
}

.bpm-span {
  padding: 1em;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
}

button {
  font-family: inherit;
  font-weight: 500;
  background: none;
  padding: 0.5em 2em;
  margin: 1.5em 2em;
  box-sizing: border-box;
  color: inherit;
  border: 1px solid white;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  mix-blend-mode: screen;
  background: white;
  color: #b73239;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  width: 40%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: -0.6em;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: -0.6em;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 0.75em;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: -0.6em;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: white;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: white;
  border-radius: 10px;
}

input[type="range"]::-ms-track {
  height: 2px;
  cursor: pointer;
  background: white;
  border-radius: 10px;
}
